{% extends "blog/base.html" %}
{% block title%} List of Post {% endblock%}
{% block content %}
    {% for post in posts %}
        <h2>
            <a href="{% url 'blog:post_detail' post.id %}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published: {{ post.publish }} By: {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks}}
        <!-- sólo muestra las primeras 30 palabras, y luego agrega un salto de línea-->
    {% endfor %}
{% endblock %}
