{% extends "blog/base.html" %}
{% block title%} List of Post {% endblock%}
{% block content %}
    {% for post in posts %}
        <h2>
            <a href="{{post.get_absolute_url}}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published: {{ post.publish }} By: {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks}}
        <!-- sólo muestra las primeras 30 palabras, y luego agrega un salto de línea-->
    {% endfor %}

    <!--{% include "blog/pagination.html" with page=posts %}-->
    {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}
